aws_access_key = "foo"
aws_secret_key = "secretfoo"
region = "us-east-1"
route53_domain_name = "example.com."
base_image = "ami-0d7a9cc499e108f74"
instance_type = "t2.micro"
ssh_key = "/path/to/your_private_key.pem"
ssh_key_name = "your_private_key"
